# --- Frontend (Angular / Node) ---
**/node_modules
**/dist
**/.angular
.nx/cache

# --- Backend (Java / Maven) ---
**/target/
**/*.jar
**/*.war

# --- Logs ---
**/logs/
**/*.log

# --- Docker & CI/CD ---
.git
.github
.gitignore
Dockerfile*
docker-compose*
.dockerignore

# --- IDEs & OS ---
**/.vscode
**/.qodo
**/.settings
**/.classpath
**/.project
**/*.iml
.DS_Store
Thumbs.db

# --- Environment ---
**/.env