# 1. OS & IDE (VS Code, STS/Eclipse, IntelliJ)
.vscode/
.settings/
.classpath
.project
.factorypath
bin/
*.swp
*.class
Thumbs.db
.DS_Store

# 2. SECRETS & CONFIGURATION (Crucial)
.env
# On garde les fichiers d'exemple pour aider les collègues
!.env.example

# 3. BACKEND (Java / Maven)
**/target/
backend/target/
.mvn/wrapper/maven-wrapper.jar
.mvn/

# 4. FRONTEND (Angular / Node)
frontend/node_modules/
frontend/dist/
frontend/.qodo/
frontend/.angular/
frontend/.editorconfig
npm-debug.log*


# 5. KUBERNETES & INFRA
*.kubeconfig
certs/
secrets/*.yaml
!secrets/template-*.yaml
