# --- Java / Maven ---
**/target/
**/*.jar
**/*.war
.mvn/
mvnw
mvnw.cmd

# --- Logs ---
**/logs/
**/*.log

# --- Docker & CI/CD ---
.git/
.github/
.gitignore

# --- IDEs & OS ---
**/.vscode/
**/.qodo/
**/.settings/
**/.classpath
**/.project
**/*.iml
.DS_Store
Thumbs.db

# --- Environment ---
**/.env