HELP.md

### java / maven ###
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
.qodo/

### VSCode ###
*.vscode/

### Docker logs ###
*.log

### Secrets ###
.env
*.local